<div class="container">
  <h1>PERFIL</h1>
  <div class="row">
    <div class="col-10 mt-5">
      <form action="">


        <div class="row g-3">
          <div class="col form-group">
            <label for="Nombre" class="label">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
          </div>
          <div class="col">
            <label for="empresa" class="label">Número de Documento</label>
            <input type="number" class="form-control" placeholder="99958421" aria-label="total">
          </div>
        </div>

        <div class="row g-3">
          <div class="col-5">
            <label for="usuario" class="label">Usuario</label>
            <input type="text" class="form-control" placeholder="pepito" aria-label="pepito">
          </div>
          <div class="col">
            <label for="contraseña" class="label">Contraseña</label>
            <input type="password" class="form-control" aria-label="password">
          </div>
        </div>
        <div class="row g-3">
          <div class="col">
            <label for="telefono">Teléfono </label>
            <input type="tel" class="form-control" placeholder="0180003517810">
          </div>
          <div class="col">
            <label for="celular">Celular </label>
            <input type="tel" class="form-control" placeholder="--- --- ----">
          </div>
        </div>
        <div class="row g-3">
          <div class="col">
            <label for="nombreMunicipio" class="label">Nombre de Municipio</label>
            <input type="text" class="form-control" placeholder="Municipio" aria-label="nombreMunicipio">
          </div>
          <div class="col">
            <label for="departamento" class="label">Departamento</label>
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="row g-3">

          <div class="col">
            <label for="direccion" class="label">Dirección</label>
            <input type="text" class="form-control" placeholder="calle 123 # 26" aria-label="direccion">

          </div>
          <div class="col">
            <div class="col">
              <label for="fehcaNacimiento" class="label">Fecha Nacimiento</label>
              <input type="date" class="form-control"  aria-label="fecha">
            </div>
          </div>
        </div>




        <div class="d-grid  col-2 mx-auto">
          <button type="button" class="btn btn-secondary m-2 center">Guardar</button>
        </div>

      </form>

    </div>

  </div>


</div>
