<div class="container">
  <div class="row">
    <div class="card mt-5 m-auto">
      <div class="card-header">
        <h1>REGISTRO DEL PRODUCTO</h1>

      </div>
      <div class="card-body m-4">
        <div class="row g-3 mt-2 ">
          <mat-form-field class="col form-group">

            <mat-label>Codigo del Producto</mat-label>
            <input matInput type="text" placeholder="">
          </mat-form-field>
          <mat-form-field class="col form-group">

            <mat-label>Nombre del Producto</mat-label>
            <input matInput type="text" placeholder="">
          </mat-form-field>
          <mat-form-field class="col form-group">

            <mat-label>Nombre De La Unidad</mat-label>
            <input matInput class="form-control" type="text">
          </mat-form-field>
        </div>
        <div class="row g-3 mt-2 ">
          <mat-form-field class="col form-group">
            <mat-label>Descripccion</mat-label>
            <textarea matInput   placeholder="Descripcion del producto"></textarea>
          </mat-form-field>
          <mat-form-field class="col form-group">

            <mat-label>Nombre De La Unidad Internacional</mat-label>
            <input matInput type="text" class="form-control" placeholder="">
          </mat-form-field>
        </div>
        <div class="row g-3 mt-2 ">
          <mat-form-field class="col form-group">

            <mat-label>Stock-Cantidad</mat-label>
            <input matInput type="text" class=" form-control" placeholder="">
          </mat-form-field>
          <mat-form-field class="col form-group">

            <mat-label>Tipo De Inventario</mat-label>
            <input matInput type="text" class="form-control" placeholder="">
          </mat-form-field>
        </div>
        <div class="row g-3 mt-2 ">
          <mat-form-field class="col form-group">
            <mat-label>Direccion</mat-label>
            <input matInput type="text" class=" form-control" placeholder="">

          </mat-form-field>
          <mat-form-field class="col form-group">
            <mat-label>Fecha De Ingreso</mat-label>
            <input matInput type="text" class=" form-control" placeholder="">

          </mat-form-field>
        </div>



        <mat-form-field class="col-3 mt-2">

          <mat-label>Precio</mat-label>
          <input matInput type="text" class=" form-control" placeholder="">
        </mat-form-field>
        <div class="d-grid col-8 ">

          <div class="col">

              <button mat-raised-button  class="m-4 "color="primary">Buscar</button>
            
         

              <button mat-raised-button color="primary">Registrar</button>
         
          </div>

        </div>

      </div>
    </div>
  </div>
</div>