<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <b>Registro Del Producto</b>
      <style type="text/css">
        textarea {
          resize: none;
        }
      </style>
    </div>
    <div class="card-body">
      <br>
      <label>Nombre del Producto</label>
      <input type="text" placeholder="">

      <label>Nombre De La Unidad</label>
      <input type="text" placeholder="">
      <br>
      <br>
      <label>Descripccion</label>
      <textarea rows="2" cols="20" placeholder="Descripcion del producto"></textarea>
      <br>
      <br>
      <label>Nombre De La Unidad Internacional</label>
      <input type="text" placeholder="">
      <br>
      <br>
      <label>Stock-Cantidad</label>
      <input type="text" placeholder="">
      <br>
      <br>
      <label>Tipo De Inventario</label>
      <input type="text" placeholder="">
      <br>
      <br>
      <label>Direccion</label>
      <input type="text" placeholder="">
      <br>
      <br>
      <label>Fecha De Ingreso</label>
      <input type="text" placeholder="">
      <br>
      <br>
      <label>Precio</label>
      <input type="text" placeholder="">
      <br>
      <br>
      <button class="btn btn-primary">Registrar</button>
      <button class="btn btn-primary">Buscar</button>
      <br>
      <br>
    </div>
  </div>
</div>
