<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <b>CONSULTA</b>
    </div>
    <div class="card-body">
      <label>Nombre del produto</label>
      <input type="text" placeholder="ingrese el nombre del Producto">
      <label>Precio</label>
      <input class="forms-control m-4" type="number" placeholder="ingrese el precio">
      <br>
      <label>Material</label>
      <input class="forms-control m-4" type="text" placeholder="ingrese el material">
      <label>Dimension y peso</label>
      <input class="forms-control m-4" type="number" placeholder="ingrese la dimension y peso">
      <br>
      <label>Stock-Cantidad</label>
      <input class="forms-control m-4" type="number" placeholder="ingrese la cantidad">
      <br>
      <button class="btn btn-primary">Buscar</button>
    </div>
  </div>
</div>
