<div id="consulta" class="container">
  <div class="row">
    <div class="card col-10 mt-5 m-auto">
      <div class="card-header">
        <h1>CONSULTA</h1>
      </div>
      <div class="card-body">
        <div class="row g-3">
          <div class="col form-group m-4">

            <label>Nombre del produto</label>
            <input type="text" class="form-control" placeholder="ingrese el nombre del Producto">
          </div>
          <div class="col form-group m-4">

            <label>Precio</label>
            <input class="form-control" type="number" placeholder="ingrese el precio">
          </div>
        </div>
        <div class="row g-3">
          <div class="col form-group m-4">

            <label>Material</label>
            <input class="form-control " type="text" placeholder="ingrese el material">
          </div>
          <div class="col form-group m-4">
            <label>Dimension y peso</label>
            <input class="form-control " type="number" placeholder="ingrese la dimension y peso">
          </div>
        </div>
        <div class="col form-group m-4">

          <label>Stock-Cantidad</label>
          <input class="form-control " type="number" placeholder="ingrese la cantidad">
        </div>
        <div class="d-grid  col-3 mx-auto">
          <button type="button" class="m-2 btn btn-primary center">Buscar</button>
        </div>
      </div>
    </div>
  </div>
</div>