/* nav button {
  display: flex;
  /*  justify-content: center;
  width: 140px;

  margin-top: 20px;
  padding-bottom: 10px;
} */
.sidebar .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 14px;
  position: relative;
  display: block;
  height: auto;
  white-space: nowrap;
}

nav {
  width: auto;
}

mat-drawer-content {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
.contenedor {
  height: 100%;
}

.toggle {
  position: absolute;
  top: 5px;
  left: 5px;

  cursor: pointer;
}

/* button {
  width: 170px;

  font-size: 17px;
} */
.img-side {
  width: 200px;
  height: 200px;
  max-width: 100%;
}

.li-active  {
  background-color: #3f51b5;
  color: #fff;
}
.sidebar .sidebar-wrapper {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  width: 260px;
  z-index: 4;
  padding-bottom: 30px;
}
svg{
  margin-right: 5px;
}
