<div class="container">
  <div class="row">
    <div class="card col-10 mt-5 m-auto">
      <h1 class="card-header">Ventas</h1>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">


          <div class="row g-3">
            <mat-form-field class="col form-group">
              <mat-label for="emrpesa" class="label">Empresa</mat-label>
              <input matInput type="text" formControlName="empresa" placeholder="empresa" aria-label="Empresa">
            </mat-form-field>
            <mat-form-field class="col">
              <mat-label for="empresa" class="label">Factura</mat-label>
              <input matInput type="text" formControlName="factura" class="form-control" [disabled]="disabled"
                aria-label="Empresa">
            </mat-form-field>
          </div>

          <div class="row g-3">
            <mat-form-field class="col">
              <mat-label for="nombreProduto" class="label">Nombre del producto</mat-label>
              <input matInput type="text" formControlName="nombreProducto" class="form-control"
                placeholder="Nombre del producto" aria-label="First name">
            </mat-form-field>
            <mat-form-field class="col">
              <mat-label for="datosDelCliente" class="label">Datos del cliente</mat-label>
              <input matInput type="text" formControlName="datoCliente" class="form-control" placeholder="nombre"
                aria-label="datos del cliente">
            </mat-form-field>
          </div>
          <div class="row g-3">
            <mat-form-field class="col">
              <mat-label for="descripcion">Descripcion</mat-label>
              <textarea matInput id="descripcion" formControlName="descripcion" name="descripcion" row="2"
                class="form-control"></textarea>
            </mat-form-field>
            <mat-form-field class="col">
              <mat-label for="cantidad">Cantidad</mat-label>
              <mat-select aria-label="Default select example " formControlName="cantidad">
                <mat-option *ngFor="let cantidad of cantidades"  [value]="cantidad">
                  {{cantidad}}</mat-option>

              </mat-select>
            </mat-form-field>
          </div>
          <div class="row g-3">
            <mat-form-field class="col">
              <mat-label for="codigoDeBarra" class="label">Codigo de barras</mat-label>
              <input matInput type="text" formControlName="codigoBarra" class="form-control"
                placeholder="codifo de barras" aria-label="codigo de barras">
            </mat-form-field>
          </div>
          <div class="row g-3">
            <mat-form-field class="col">
              <mat-label for="fecha" class="label">Fecha</mat-label>
              <input matInput type="date" class="form-control" formControlName="fecha">
            </mat-form-field>
            <mat-form-field class="col">
              <mat-label for="descuento" class="label">Descuento</mat-label>
              <input matInput type="number" class="form-control" formControlName="descuento" placeholder="Descuento"
                aria-label="descuento">
            </mat-form-field>
          </div>
          <div class="row g-3">
            <div class="col">
              <mat-form-field class="col">
                <mat-label for="precio" class="label">Precio</mat-label>
                <input matInput type="number" class="form-control" formControlName="precio" placeholder="Precio" aria-label="Precio">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="col">
                <mat-label for="total" class="label">Total</mat-label>
                <input matInput type="number" formControlName="total" class="form-control" placeholder="total" aria-label="total">
              </mat-form-field>
            </div>
          </div>




          <div class="d-grid  col-3 mx-auto">
            <button mat-raised-button color="primary" type="submit" class=" m-2 center">Comprar</button>
          </div>

        </form>
      </div>
    </div>

  </div>


</div>