<div class="container">
  <div class="row">
    <div class="card mt-5">
      <div class="card-header">
        <h1>DATOS DEL CLIENTE</h1>

      </div>
      <div class="card-body">
        <div class="row g-3">
          <mat-form-field class="col form-group">

            <mat-label>Numero del documento</mat-label>
            <input matInput type="text" class="form-control" placeholder="Numero del documento">
          </mat-form-field>
          <mat-form-field class="col form-group">

            <mat-label>nombre</mat-label>
            <input matInput type="text" class="form-control" placeholder="Nombre Completo">

          </mat-form-field>
        </div>


        <div class="row g-3">
          <mat-form-field class="col form-group">
            <mat-label>Telefono</mat-label>
            <input matInput type="tel" class="form-control" placeholder="Telefono#">
          </mat-form-field>
          <mat-form-field class="col form-group">
            <mat-label>Celular</mat-label>
            <input matInput type="tel" class="form-control" placeholder="Numero Celular">

          </mat-form-field>
        </div>

        <div class="row g-3 mt-2">
          <mat-form-field class="col form-group">
            <mat-label>Nombre del Municipio</mat-label>
            <input type="text" matInput class="form-control" placeholder="Municipio">

          </mat-form-field>
          <mat-form-field class="col form-group">


            <mat-label>Direccion</mat-label>
            <input matInput type="text" class="form-control" placeholder="Nombre ">

          </mat-form-field>
        </div>

        <div class="row g-3 mt-2">
          <mat-form-field class="col-4 form-group">
            <mat-label>Nombre del Departamento</mat-label>
            <input matInput type="text" class="form-control" placeholder="Nombre del Departamento">

          </mat-form-field>
        </div>

        <div class="d-grid col-3 mx-auto">

          <button mat-raised-button color="primary" class=" mt-3">Registrar</button>
        </div>


      </div>
    </div>
  </div>
</div>