
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <b>DATOS DEL CLIENTE</b>
      <style type="text/css">
        textarea{
          resize: none;
        }
      </style>
    </div>
    <div class="card-body">
       <br>
      <label>Numero del documento</label>
      <input type="text" placeholder="Numero del documento">
      <br>
      <br>
      <label>nombre</label>
      <input type="text" placeholder="Nombre Completo">
      <br>
      <br>
      <label>Telefono</label>
      <input type="text" placeholder="#">
      <br>
      <br>
      <label>Celular</label>
      <input type="text" placeholder="Numero Celular">
      <br>
      <br>
      <label>Nombre del Municipio</label>
      <input type="text" placeholder="Municipio">
      <br>
      <br>
      <label>Direccion</label>
      <input type="text" placeholder="Nombre ">
      <br>
      <br>
      <label>Nombre del Departamento</label>
      <input type="text" placeholder="Nombre del Departamento">
      <br>
      <br>
      <button class="btn btn-primary">Registrar</button>
      <br>
      <br>
    </div>
  </div>
  </div>
