<mat-form-field appearance="fill">
    <mat-label>nombre</mat-label>
    
    <input matInput placeholder="300000000" value="">
  </mat-form-field>    
    
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            
            <mat-label>Nombre</mat-label>
            <mat-hint>Sugerencia</mat-hint>
            <input matInput placeholder="Juan" value="nombre">
        </mat-form-field>

    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Documento</mat-label>
            <input matInput placeholder="0.000.0000.000" value="documento">
        </mat-form-field>

    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>User</mat-label>
            <input matInput placeholder="Juzn098" value="user">
        </mat-form-field>

    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Celular</mat-label>
            <input matInput placeholder="300000000" value="cel">
        </mat-form-field>

    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre Municipio</mat-label>
            <input matInput placeholder="Santa marta" value="namemunicipio">
        </mat-form-field>
    
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Direccion</mat-label>
            <input matInput placeholder="Calle 15 carrera 23-1A" value="user">
        </mat-form-field>

    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Departamento</mat-label>
            <input matInput placeholder="Magdalena" value="user">
        </mat-form-field>

        <button mat-raised-button color="primary">Guardar</button> 